﻿@{
    ViewBag.Title = "Ortana Transfer";
}




    <div class="container-fluid" style="margin-top: -30px" >
        <div class="col-md-2 col-md-offset-10" style="border:1px solid grey;min-height:600px;background: white;border-radius: 5px;padding-bottom:10px" id="transfer-form">

      <!--       <button type="button" class="btn btn-info btn-lg OpenModal" data-toggle="modal" data-target="#myModal" onclick="RefreshContent()">Begin Transfer</button> -->
    <form id="upload" method="post" action="" enctype="multipart/form-data" style="width: 100%;">
                        <div id="drop">
                            Drop Files Here

                            <a>Browse</a>
                            <input type="file" id="upl" name="upl" multiple="multiple" />
                        </div>

                        <ul style="display:none">
                            <!-- The file uploads will be shown here -->
                        </ul>
                        <div class="loader" style="display:none"></div>
                        <div id="RefreshProgress">

                        </div>
                    </form>

<hr style="border-bottom: 1px solid #ccc;">

<form>
  <div class="form-group" >
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email to" >
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Your email">
  </div>

   <div class="form-group">
   <textarea class="form-control" rows="4" placeholder="Message" style="resize: none;"></textarea>
  </div>


  <button type="submit" class="btn btn-primary btn-block" style="font-weight: bold;">Transfer</button>
</form>

        </div>
    </div>
