﻿<!DOCTYPE html>
<html class="page-background full" id="html" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="/Content/the-big-picture.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Content/Custom.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ortana Transfer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("About us", "Index", "Home")</li>
                    <li>@Html.ActionLink("Help", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

        @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script src="/Content/CircularLoader-v1.3.js" type="text/javascript"></script>
    <script src="/Content/assets/js/jquery.knob.js"></script>

        <!-- jQuery File Upload Dependencies -->
    <script src="/Content/assets/js/jquery.ui.widget.js"></script>
    <script src="/Content/assets/js/jquery.iframe-transport.js"></script>
    <script src="/Content/assets/js/jquery.fileupload.js"></script>
        <!-- Our main JS file -->
    <script src="/Content/assets/js/script.js"></script>

     <script>


        var OneChunkPercentage;
        var count;
        var files = 0;
        var currentFile = 0;
        var TotalInputFiles = 0;
        var isUploading = false;
        var startCountInputFile = 0;
        var MaxFile = 0;
        var results = [];
        var InNumfiles = 0;
        var FilesTick = [];
        var HundredPercentageCount = 0;
        var ListHundredPercentageCount = [];
        var callDeleteFile = 0;

        $(document).on("click", ".OpenModal", function () {

            $.ajax({
                method: 'GET',
                url: '/Home/GetFileNames',
                success: function (data) {
                    results = data;
                }
            });


        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
            //updateProgress(1, 0);
        });
        $("input[type='file']").on("change", function () {
            //var numFiles = $(this).get(0).files.length;
            //InNumfiles = numFiles;
            InNumfiles = 0;
            //TotalInputFiles = numFiles + getProgressLength();
            $("#drop").addClass("disabledbutton");
            isUploading = true;
            $('.RemoveBtn').hide();
            startCountInputFile = $('.myProgress').length == 1 ? 0 : $('.myProgress').length;
            MaxFile = 0;
            $(".loader").show();
            HundredPercentageCount = 0;
            ListHundredPercentageCount = [];
            callDeleteFile = 0;
        });

        $('#drop').on('drop dragdrop', function (ev) {
            InNumfiles = 0;
            //TotalInputFiles = ev.originalEvent.dataTransfer.files.length + getProgressLength();
            //InNumfiles = ev.originalEvent.dataTransfer.files.length;
            $("#drop").addClass("disabledbutton");
            isUploading = true;
            $('.RemoveBtn').hide();
            startCountInputFile = $('.myProgress').length == 1 ? 0 : $('.myProgress').length;
            MaxFile = 0;
            $(".loader").show();
            HundredPercentageCount = 0;
            ListHundredPercentageCount = [];
            callDeleteFile = 0;
        });

        function RefreshContent() {
            files = 0;
            currentFile = 0;
            TotalInputFiles = 0;
            isUploading = false;
            //$("#RefreshProgress").html('<div class="myProgress row NoPaddingLR" id="Pro1"><input id="count1" type="hidden" /><input id="total1" type="hidden" /><input id="percentage1" type="hidden" /><div class="col-xs-2 NoPaddingLR" id="divProgress1"></div><div class="col-xs-8 NoPaddingLR" style="font-size:10px;padding-top:12px;padding-left:5px;color:white" id="displayFile1"></div><div class="col-xs-1 NoPaddingLR" ><span class="tick RemoveBtn"  style="display:none"></span></div><div class="col-xs-1 NoPaddingLR"><span class="glyphicon glyphicon-remove RemoveBtn" onclick="RemoveFile(1)" style="color:#dd2c00;padding-top:12px;display:none"></span></div></div>');
            $("#RefreshProgress").html('');
        }

        function RemoveFile(index) {
            $.ajax({
                method: 'GET',
                url: '/Home/RemoveFile',
                data: { "FileName": $("#displayFile" + index).html() },
                success: function (response) {
                    debugger;
                    if (response == "OK") {
                        $("#Pro" + index).remove();
                    }
                }
            });
        }

        function getProgressLength() {
            if ($(".myProgress").length > 1) {
                return $(".myProgress").length
            }
            return 0
        }

        function move(partcount, fileIndex) {


            var total = $("#total" + fileIndex).val();
            var perc = (partcount / total) * 100;
            if (partcount == total || perc >= 100) {
                perc = 100;
                if (!arrayContains(fileIndex, ListHundredPercentageCount)) {
                    HundredPercentageCount++;
                    ListHundredPercentageCount.push(fileIndex);
                }
            }

            updateProgress(fileIndex, perc);

            if (HundredPercentageCount == InNumfiles)
            {
                $("#drop").removeClass("disabledbutton");
                isUploading = false;
                $('.RemoveBtn').show();
                $(".loader").hide();
                //CheckToTickFile();
                if (callDeleteFile == 0) {
                    OnCompleteDeletePartFiles();
                    callDeleteFile = 1;
                }
            }

            //if (MaxFile == fileIndex && perc >= 100 && partcount == 100) {
            //    $("#drop").removeClass("disabledbutton");
            //    isUploading = false;
            //    $('.RemoveBtn').show();
            //    $(".loader").hide();
            //    //CheckToTickFile();
            //    OnCompleteDeletePartFiles();
            //}
        }

        function UploadFileChunk(Chunk, FileName, fileIndex, PartCount) {
            var FD = new FormData();
            FD.append('file', Chunk, FileName);
            $.ajax({
                type: "POST",
                url: '/Home/UploadFile/',
                contentType: false,
                processData: false,
                data: FD,
                success: function (response) {
                    if (response == "OK") {
                        count = $("#count" + fileIndex).val();
                        var to = (parseInt(count) + 1);
                        if (to == $("#total" + fileIndex).val()) {
                            move(100, fileIndex);
                        }
                        else {
                            move(count, fileIndex);
                        }
                        count++;
                        $("#count" + fileIndex).val(count);
                    }
                    else {
                        console.log(response);
                    }
                }
            });
        }

        function UploadFile(TargetFile) {
            if (TargetFile != undefined) {
                startCountInputFile++;
                files++;
               
                var content = "";
                if (arrayContains(TargetFile.name, results)) {
                    content = '<div class="myProgress row NoPaddingLR" id="Pro' + files + '"><input id="count' + files + '" type="hidden" /><input id="total' + files + '" type="hidden" /><input id="percentage' + files + '" type="hidden" /><div id="divProgress' + files + '" style="display:none"></div><div class="col-xs-2 NoPaddingLR" ><img src="/Content/assets/img/UploadFailedIcon.jpg" style="width:30px;padding-top:8px;margin-left:5px" /></div><div class="col-xs-9 NoPaddingLR" style="font-size:10px;padding-top:12px;padding-left:5px;color:white" id="displayFile' + files + '">' + TargetFile.name + '</div><div class="col-xs-1 NoPaddingLR" style="padding-top:15px;color:white;"><span class="glyphicon glyphicon-duplicate" data-toggle="tooltip" title="Asset upload failed. The asset already exists"></span></div';
                }
                else {
                    content = '<div class="myProgress row NoPaddingLR" id="Pro' + files + '"><input id="count' + files + '" type="hidden" /><input id="total' + files + '" type="hidden" /><input id="percentage' + files + '" type="hidden" /><div class="col-xs-2 NoPaddingLR" id="divProgress' + files + '"></div><div class="col-xs-9 NoPaddingLR" style="font-size:10px;padding-top:12px;padding-left:5px;color:white" id="displayFile' + files + '"></div><div class="col-xs-1 NoPaddingLR"><span class="glyphicon glyphicon-remove RemoveBtn" data-toggle="tooltip" title="Cancel upload of this asset" style="padding-top:12px;color:#dd2c00;;display:none" onclick="RemoveFile(' + files + ')"></span></div></div>';
                }
                if ($(".myProgress").length > 0) {
                    $(content).insertAfter(".myProgress:last");
                }
                else {
                    $("#RefreshProgress").html(content);
                }
                


                // create array to store the buffer chunks
                var FileChunk = [];
                // the file object itself that we will work with
                var file = TargetFile;
                // set up other initial vars
                var MaxFileSizeMB = 5;
                var BufferChunkSize = MaxFileSizeMB * (1024 * 1024);
                var ReadBuffer_Size = 1024;
                var FileStreamPos = 0;
                // set the initial chunk length
                var EndPos = BufferChunkSize;
                var Size = file.size;

                // add to the FileChunk array until we get to the end of the file
                while (FileStreamPos < Size) {
                    // "slice" the file from the starting position/offset, to  the required length
                    FileChunk.push(file.slice(FileStreamPos, EndPos));
                    FileStreamPos = EndPos; // jump by the amount read
                    EndPos = FileStreamPos + BufferChunkSize; // set next chunk length
                }
                // get total number of "files" we will be sending
                var TotalParts = FileChunk.length;
                var PartCount = 0;
                $("#total" + files).val(TotalParts);

                //get the last file total parts
                if (startCountInputFile == TotalInputFiles) {
                    MaxFile = files;
                }
                //$("#percentage" + files).val(Math.round(100/TotalParts));
                $("#count" + files).val(1);
                $("#displayFile" + files).html(TargetFile.name);
                //check for duplicate file
                if (arrayContains(TargetFile.name, results)) {

                    move(100, files);

                }
                else {
                    // loop through, pulling the first item from the array each time and sending it
                    while (chunk = FileChunk.shift()) {

                        PartCount++;
                        // file name convention
                        var FilePartName = file.name + ".part_" + PartCount + "." + TotalParts;
                        // send the file
                        UploadFileChunk(chunk, FilePartName, files, PartCount);
                    }

                }
            }
        }

        function OnCompleteDeletePartFiles() {
            var files = "";
            var st = (startCountInputFile - InNumfiles == 0 ? 0 : (startCountInputFile - InNumfiles)) + 1;
            for (var i = st; i <= startCountInputFile; i++) {
                if ($("#Pro" + i).parent().find('.RemoveBtn').length > 0) {
                    if (i < startCountInputFile) {
                        files = files + $("#displayFile" + i).html() + ";";
                    }
                    else {
                        files = files + $("#displayFile" + i).html();
                    }
                }
            }
            if (files.length > 0) {
                $.ajax({
                    method: 'POST',
                    url: '/Home/OnCompleteDeletePartFiles',
                    data: { "FileNames": files }
                });
            }
        }


        function CheckToTickFile() {
            var files = "";
            var st = (startCountInputFile - InNumfiles == 0 ? 0 : (startCountInputFile - InNumfiles)) + 1;
            for (var i = st; i <= startCountInputFile; i++) {
                if ($("#Pro" + i).parent().find('.RemoveBtn').length > 0) {
                    if (i < startCountInputFile) {
                        files = files + $("#displayFile" + i).html() + ";";
                    }
                    else {
                        files = files + $("#displayFile" + i).html();
                    }
                }

            }
            //check with server on files for tick
            $.ajax({

            });
        }

        function arrayContains(needle, arrhaystack) {
            return (arrhaystack.indexOf(needle) > -1);
        }


    </script>

    <!-- Warn user if they closee modal before upload finishes-->

    <script>
        function checkUpload() {
            if (isUploading) {
                alert("Please wait, window can not be closed while uploading is progressing");
            }
            else {
                $('#myModal').modal('toggle');
            }
        }

        function updateProgress(index, percentage) {

            if ($("#divProgress" + index).length > 0) {
                $("#divProgress" + index).circularloader({
                    progressPercent: percentage,
                    backgroundColor: "#333639",//background colour of inner circle
                    fontColor: "#ffffff",//font color of progress text
                    fontSize: "9px",//font size of progress text
                    radius: 13,//radius of circle
                    progressBarBackground: "#333639",//background colour of circular progress Bar
                    progressBarColor: "#009933",//colour of circular progress bar
                    progressBarWidth: 7,//progress bar width
                    speed: 10,
                    progressvalue: percentage,
                    showText: true
                });
            }
            else {
                //debugger;
            }
        }
    </script>


    <script type="text/javascript">
        var images = ["1.jpg", "2.jpg", "3.jpg", "4.jpg", "5.jpg"];
        $(function () {
            var i = 0;
            $('#html').css("background-image", "url(Content/Backgrounds/" + images[i] + ")");
            setInterval(function () {
                i++;
                if (i == images.length) {
                    i = 0;
                }

                    $('#html').css("background-image", "url(/Content/Backgrounds/" + images[i] + ")");
                  
            
            }, 5000);
        });
    </script>

</body>
</html>
