﻿      .myProgress {
            width: 100%;
            background-color: #333639;
            background-image: -webkit-linear-gradient(top, #333639,#303335);
            border-top: 1px solid #3d4043;
            border-bottom: 1px solid #2b2e31;
            height: 50px;
            margin-left: 1px;
        }

        #transfer-form{
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        }


        .disabledbutton {
            pointer-events: none;
            opacity: 0.4;
        }

        #upload {
            box-shadow: none;
        }

   
        .NoPaddingLR {
            padding-left: 0px;
            padding-right: 0px;
        }


        .tick {
            width: 15px;
            height: 12px;
            background: url(/Content/assets/img/icons.png) no-repeat;
            position: absolute;
            top: 12px;
            right: 24px;
            
        }
.close {
    color: red; 
    opacity: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.loader {
  border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;   
    margin-left: 40%;
    margin-top: -8%;
    margin-bottom: 6%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
